<section class="about-s1 container-fluid d-flex minh-50vh bg-secondary align-items-center py-5">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start">
                <h5 class="text-dark">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Unde omnis iste
                </h2>
                <p class="text-dark">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about-s2 container-fluid d-flex minh-25vh bg-light align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-11 col-sm-9 col-md-7 mx-auto d-flex align-items-center">
            <dl class="w-100 text-start">
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
            </dl>
        </div>
    </div>
</section>
<section class="about-s3 container-fluid d-flex minh-50vh align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100 px-3 text-shadow">
        <div class="col-12 py-3">
            <h2 class="display-6 text-center text-md-start text-white text-uppercase">
                Lorem ipsum dolor
            </h2>
        </div>
        <div class="col-12 col-md-3 mx-auto text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="d-none d-md-block mx-auto col-md-1">
            <div class=" border-start mx-auto h-100 w-25"></div>
        </div>
        <div class="col-12 col-md-3 text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="d-none d-md-block mx-auto col-md-1">
            <div class=" border-start mx-auto h-100 w-25"></div>
        </div>
        <div class="col-12 col-md-3 mx-auto text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
    </div>
</section>