<section class="menu-s1 container-fluid d-flex minh-50vh align-items-center py-5">
	<div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5">
                <h5 class="text-dark">
                    Lorem ipsum
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Dolor sit amet         
                </h2>
                <p class="text-dark">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.      
                </p>
            </div>
        </div>
    </div>
</section>
<section class="menu-s2 container-fluid d-flex minh-50vh bg-white align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-7 mx-auto minh-50vh d-flex align-items-center">
            <div class="w-100 text-center">
                <h2 class="dispaly-6 fw-bold text-secondary">
                    Lorem ipsum
                </h2>
                <p class="text-muted">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse 
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                    anim id est laborum.
                </p>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="text-secondary">
                            <th class="w-25">Name</th>
                            <th class="w-50">Description</th>
                            <th class="w-25">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>